<style>
    .contact-list-header {
        color: #333;
        display: flex;
        align-items: center;
    }
</style>

<mat-card>
    <h2 class="contact-list-header">All Contacts</h2>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let contact of contacts">
                <img mat-list-avatar src="{{contact.giphyUrl}}" alt="{{contact.name}}">
                <h3 mat-line>
                    <a mat-button [routerLink]="['/contact-edit', contact.id]">{{contact.name}}</a>
                </h3>
            </mat-list-item>
        </mat-list>
        <mat-card-actions>
                <button mat-raised-button color="primary" [routerLink]="['/contact-add']">Add</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>